.power-by{
    position:fixed;
    bottom:100px;
    left:45%;
    height: 80px;
    width: 150px;
}

.stretch-tabs ul {
    display: table;
    width: 100%;
}

.stretch-tabs li {
    display: table-cell;
}
