<!-- 
<mat-tab-group animationDuration="0ms"> 
  <mat-tab label="Origin Doctor Form">
    <app-ehr-form></app-ehr-form>
  </mat-tab>
  <mat-tab label="Origin Doctor EHR List">
    <app-ehrs></app-ehrs>
  </mat-tab>
  <mat-tab label="Patient EHR List">
    <app-ehrs></app-ehrs>
  </mat-tab>
  <mat-tab label="Target Doctor EHR List">
    <app-ehrs></app-ehrs>
  </mat-tab>
</mat-tab-group>

<div>
  <img class="power-by" src="assets/img/corda.png" alt="Corda"/>
</div> -->

<nav mat-tab-nav-bar mat-stretch-tabs>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>

<router-outlet></router-outlet>

<div>
  <img class="power-by" src="assets/img/corda.png" alt="Corda"/>
</div>