<div class="container">
    <br>
    <br>
    <form [formGroup]="paForm">
      <div class="form-group">
        <input autofocus style="width: 500px;" type="text" class="form-control" id="id" formControlName="id" placeholder="Id">
      </div>
      <button type="button" class="btn btn-danger" (click)=onDelete()>Delete</button>
      <button type="button" class="btn btn-success" (click)=onActivate()>Activate</button>
      <button type="button" class="btn btn-warning" (click)=onSuspend()>Suspend</button>
    </form>
</div>
