<div class="container">
    <br>
    <br>
    <form [formGroup]="ehrForm" (ngSubmit)="onSubmit(ehrForm.value)" style="width: 500px;">
      <div class="form-group">
        <input type="text" class="form-control" id="patient" formControlName="patient" placeholder="Patient">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="targetDoctor" formControlName="targetDoctor" placeholder="Target Doctor">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="note" formControlName="note" placeholder="Note">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="attachmentId" formControlName="attachmentId" placeholder="Attachment Id">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
