<div class="container">
    <br>
    <br>
    <form>
      <div class="form-group">
        <label for="patient">patient</label>
        <input type="text" class="form-control" id="patient">
      </div>
      <div class="form-group">
        <label for="targetDoctor">target doctor</label>
        <input type="text" class="form-control" id="targetDoctor">
      </div>
      <div class="form-group">
        <label for="note">note</label>
        <input type="text" class="form-control" id="note">
      </div>
      <div class="form-group">
        <label for="note">attachment</label>
        <input type="text" class="form-control" id="attachment">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>
